
.overlay {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 2px solid #19598d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
}



.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input,
.select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.button-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-close:hover {
  background-color: #e5e5e5;
}

.button-close svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}


/* Close button */
button[data-modal-toggle] {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button[data-modal-toggle] svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .overlay {
    padding: 1rem;
  }

  .custom-input,
  .custom-select {
    width: calc(100% - 1rem);
  }

  .custom-button {
    width: 100%;
    
  }
}
