

.navbar {
  background-color: #19598d;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 4px 7px;
  cursor: pointer;
}

  .user-profile-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    border: 1px solid #ccc;
    display: none;
    width: auto;
 
    margin-right: 10px;
    z-index: 1000;
  }
  
  .user-profile-dropdown.show {
    display: inline-block;
  }
  
  .user-icon {
    font-size: 1.5em;
    margin-left: 15px;
    cursor: pointer;
  }
  
  /* Add these styles to your existing styles or create a new stylesheet */

.user-profile-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 14px;
  margin: 2px;
  background-color: #fff;
  text-transform: capitalize;
}

.user-avatar {
  background-color: #2eb0b8;
  color: #fff;
  border-radius: 50%;
  padding: 9px;
  margin-right: 5px;
}

.profile-details {
  flex: 1;
  width: auto;
}

h2 {
  margin-bottom: 8px;
  font-size: 1em;
  color: #333;
  
}

p {
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #333;
}

  