/* Transaction Container */
.transaction-container {
  margin: auto;
  width: 80%;
}

/* Transaction Table */
.transaction-table {
  
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table Heading */
.table-heading {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}

/* Table Header */
.transaction-table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Table Body */
.transaction-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

/* Alternating Row Colors */
.transaction-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


